<h1>Découverte Angular</h1>

<p highlight background-color="green" base-color="purple">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora inventore mollitia, impedit autem iusto pariatur laudantium nemo assumenda nesciunt aliquam ad id, nulla dolorem blanditiis?</p>

<p highlight>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis magnam corrupti in delectus eveniet minima?</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi enim quaerat expedita. Possimus deleniti blanditiis aperiam repellendus laborum quam accusamus. Quas et aspernatur voluptates unde.</p>